mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
prometheus-client
uvicorn
pyshark
pytest
fastapi

docker~=7.1.0
requests~=2.32.3
websockets~=15.0.1
PyYAML~=6.0.2