mkdocs
mkdocs-material
mkdocstrings[python]
mkdocs-awesome-pages-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-macros-plugin
prometheus-client
uvicorn

fastapi~=0.115.12
docker~=7.1.0
requests~=2.32.3
websockets~=15.0.1
PyYAML~=6.0.2